backports.shutil-get-terminal-size==1.0.0
coverage==4.1
decorator==4.0.10
factory-boy==2.7.0
fake-factory==0.5.7
ipython==4.2.0
ipython-genutils==0.1.0
pexpect==4.1.0
pickleshare==0.7.2
ptyprocess==0.5.1
py==1.4.31
pytest==2.9.2
pytest-cov==2.2.1
python-dateutil==2.5.3
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.0.13
traitlets==4.2.1
